<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EFILoginHiDPI</key>
	<data>
	AAAAAA==
	</data>
	<key>EmuVariableUefiPresent</key>
	<data>
	WWVz
	</data>
	<key>SystemAudioVolume</key>
	<data>
	MA==
	</data>
	<key>SystemAudioVolumeDB</key>
	<data>
	9Q==
	</data>
	<key>aapl,panic-info</key>
	<data>
	8LA7PUaN4XXQDDQOs9llOQiGN5vNZrP5ZsaJxzDcTExL6UAie1pOr4fZoORzWpbb0+My
	SJV008vs4HhcZpflYfpbrtPB5W9xGZV8Tstye3pcBqlYoGnSTZ/JQKqUDmQMp9llMoj+
	BrXDcBCxbE+Py6AkUQeC4cMxGw6Gs4Hob9ARWgVNl9UQ1y0CvphpsTwsz7+G4TG6PH+N
	321XGA5nl1148fw1fdfl4/L8dYRWifK0vSyfJ930Mvt1hFaJ8rS9LJ8n3fQyuxWTuWiu
	myv2Gr7b7bf7dWQuy3J3mf1Kuull9gs9v7+SbnqZHRyPy+yyPEx/y11jOFwXi91sCmF4
	vKbLw+MyCDWEVkGzFAtklIfbZZAOJC3T63I3KEgmy8vzuQKGN5vNZrM5F5PlyjmxOAwD
	6UAwvNlsNpvNOBgsdwuXw2YySAHDm81ms9mci8ly5ZxYbIaBdCAY3mw2m81mHAyWw5Vx
	tfAMpIDhzWaz2WzOxWS5ck48nsFAOhAMbzabzWYzDgbL4cg58zgMUsDwZrPZbDbnYrJc
	OSceh2EgHQiGN5vNZrMZB4PlbjXxOAwDKWB4s9lsNptzMVmunBOPxzCQDgTDm81ms9mM
	g8Fyt3C5FruBFDC82Ww2m825mCxXzonJZRhIB4LhzWaz2WzGwWC5W7g8s81AChjebDab
	zeZcTJYr58TlGgykA8HwZrPZbDbfzDjxGIabiWkgBQxvNpvNZnMuJsuVc+IyDgbSgWB4
	s9lsNptxMFiuLBObbTeQAoY3m81mszkXk+XKObEZBgPpQDC82Ww2m804GCxXlolx5htI
	AcObzWaz2ZyLyXLlnNhcg4F0IBjebDabzWYcDJYry8izsQ2kgOHNZrPZbM7FZLlyTmwO
	w0A6EAxvNpvNZjMOBsvdamLYuAxSgEAgEAi0LMvdZTaoiKeX3fP02z0Hpd0gcXi8psvD
	47JOAQKBQCAQCAQav9uuMBzOLrvI8rS9LHcF4XB2Oemml9lIYg0Ggx3lYTg6PZ6jYjIX
	zEVLbYvBWYwWjBFbxpws2JrNZreWUGa7tXA4YdFooxmLt9itC4ThzWaz2Wy+mXFicRkH
	g8FaPhjebDabzeabGSce22Rms1kBAoFAIBAIBAKBQOQyvOwml93jvA40frddYTicXXal
	3+s03ZV8Tutyc3hcRslqNVcstR0GjbfbsEZs5XBGY2s2I8Jawlls2DIOZ7Ib8RYk0oy2
	LhCGN5vNZrP5ZsaJYWEYDAZTgEAgEAgEAoFAIBC5DC+7yWX3OK8Djd9tVxgOZ5dd6fc6
	TXcln9Bh0hhup9l5lMyVS21vxeAMZiQSW0GZUdia5WDGVi5HJLZoMuEwlrPlYkIhrQuE
	4c1ms9lsvplxYViuBoPBFCAQCAQCgUAgEAhELsPLbnLZPc7rQON32xWGw9llV/q9TtNd
	yedRHoaj0+O5MdxOs/Oo2gzmitFS22HNFrsFh7NW0IYjtma2YbEVHMpkrdvwNsTFZjFc
	zhbrAmF4s9lsNptvZpwYNqbBYDAFCAQCgUAgEAgEApHL8LKbXHaP8zrQ+N12heFwdtmV
	fq/TdFfyGRyPy+yyPEx/y43hdpqdl6FoMJpL5pKltsZgThaEzYYtYyw2a81wtGArJ4wZ
	W0LZsCYjFm9GGlHWBcLwZrPZbDbfzDhxTDaDwWAKhXBKBMHl73F5Pge5w+0yaPyWy8tz
	+NtNTrvPIPobNK7L5WU3HURHy8thsg60LsvdZfaXHp6vFcL3mw4Ky89zHajFTrPr4jI9
	DHLbv+T0PCxml3sxEDksp/dgIHJYvr6H1+UeDLQu4+ktctnear/J5V4M1Aqzx+IyPQxq
	2UEKRTM8Bj2nIHtZPk+/3TpFDDes0RSKZVnuLrNB9rJ8nn67dQpiWH5Pu0HLstxdZoOs
	Zfk8/XaDYjiXzAXTgZpvN8j5toNiMpAMppPRdDQbCDqlgmSwGG4Hkr/fdB3eXW/RcrCZ
	SzaLuWh+2UtaZBaD0+IXi7N9bTTFsix3l9mgajVJ1IFqNuEMhsPVWsacMNiawYq4VpAY
	G7ZqxFquOJTRZsJgTrEsy91lNmjOTpPLOhAIBALB8DAYDAaDwWCwHA0Gg8FgimVZ7i6z
	QfQyng4Sh+dlHQiGN5vNZrMZB4PlbDAYDAZTfL/IpBAEopfxdJA4PC/rQDC82Ww2m804
	GCxXg8FgMJhimp/Ty21Q+00us0HucLusAzXDY+H7vYbK37EYKwZCNcPjVgyXC86INGPu
	ViPWjMZhSqGY5uf0chtUh9PT7TIo7Qa5w+73vDx+u8lzHehWu81it1tOVlOww3M6iP0O
	k8tk0LqMp4PCdNBNdoPBbLAZTaYDAYNH4hDKrp/TbmJ6DmeH880yXZ4ezxMzlwznooFQ
	YTJZDoLhzWaz2Wy+mXFim0wMg8FYoHlaXwbFbDMcLaVgv8PkMhm0LuPpc50C5X67yykF
	AAAAAAA=
	</data>
	<key>backlight-level</key>
	<data>
	EwQ=
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	3AeHgAAAAAAVHQEAAAAAAA==
	</data>
	<key>csr-active-config</key>
	<data>
	ZwAAAA==
	</data>
	<key>efi-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjU3MEQ4RjI3LTU3
	QjUtNDNFRS04NDQ3LTM3NERGRjRBMzhGRjwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PC9k
	aWN0PjwvYXJyYXk+
	</data>
	<key>efi-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAAAAAAAAAQBKgAKAAAAADiyFQAAAACIDEAGAAAA
	ACePDVe1V+5DhEc3Tf9KOP8CAgQDJAD3/HS+fAvzSZFHAfQELmhC1cubhD30j0CmmZnk
	HLXven//BAA=
	</data>
	<key>fakesmc-key-#KEY-ui32</key>
	<data>
	AAAAEQ==
	</data>
	<key>fakesmc-key-$Adr-ui32</key>
	<data>
	AAADAA==
	</data>
	<key>fakesmc-key-$Num-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BATP-flag</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-BBIN-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BEMB-flag</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BNum-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-EPCI-ui32</key>
	<data>
	B7AHAA==
	</data>
	<key>fakesmc-key-MSAc-ui16</key>
	<data>
	AAA=
	</data>
	<key>fakesmc-key-MSFW-ui8</key>
	<data>
	AQA=
	</data>
	<key>fakesmc-key-MSPS-ui16</key>
	<data>
	AAM=
	</data>
	<key>fakesmc-key-MSTc-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-MSWr-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-RBr -ch8*</key>
	<data>
	ajQxajQzAAA=
	</data>
	<key>fakesmc-key-REV -ch8*</key>
	<data>
	AhMPAAAV
	</data>
	<key>fakesmc-key-RMde-char</key>
	<data>
	QQ==
	</data>
	<key>fakesmc-key-RPlt-ch8*</key>
	<data>
	ajQzAAAAAAA=
	</data>
	<key>flagstate</key>
	<data>
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	Y2hvcG9uZ+eahE1hY0Jvb2sgQWly
	</data>
	<key>good-samaritan-message</key>
	<data>
	Q2hvcG9uZydzIEhhY2tpbnRvc2g=
	</data>
	<key>platform-uuid</key>
	<data>
	eQsMxJ9BUOCdcinGZZ8o4g==
	</data>
	<key>prev-lang:kbd</key>
	<data>
	emgtSGFuczow
	</data>
	<key>security-mode</key>
	<string>none</string>
	<key>specialbootdevice</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAAAAAAAAAQBKgAKAAAAADiyFQAAAACIDEAGAAAA
	ACePDVe1V+5DhEc3Tf9KOP8CAgQDJAD3/HS+fAvzSZFHAfQELmhC1cubhD30j0CmmZnk
	HLXven//BAA=
	</data>
</dict>
</plist>